<div class="nav-bar background light">
    <div class="container-fluid">
        <figure class="logo">
            <img src="imgs/logo-bk.png" alt=""/>
        </figure>

        <nav class="menu">
            <a href class="background">
                <span class="text">Pedidos</span>
                <span class="tag color">3</span>
            </a>
        </nav>

        <div class="logout">
            <a href="#/logout">
                Sair
                <i class="fa fa-chevron-right"></i>
            </a>
        </div>
    </div>
</div>
<div class="nav-filter background" ng-class="{hidden : isVisible}">
    <div class="column-left">
        <form name="search" class="form-search form-default">
            <label for="text-search">Pesquise pelo nome do restaurante ou código do pedido</label>
            <input type="text" id="text-search" ng-model="search.text" class="input-default" required/>
            <md-button class="md-button theme background light">Buscar</md-button>
        </form>
        <nav class="row options">
            <md-button class="md-button theme-transparent color hover active">Todos</md-button>
            <md-button class="md-button theme-transparent color hover">Aberto</md-button>
            <md-button class="md-button theme-transparent color hover">A Caminho</md-button>
            <md-button class="md-button theme-transparent color hover">A Retirar</md-button>
            <md-button class="md-button theme-transparent color hover">Em Transporte</md-button>
            <md-button class="md-button theme-transparent color hover">Entregue</md-button>
        </nav>
    </div>
    <div class="column-right text-right">
        <md-button class="md-button clear theme-transparent color hover md-mini" ng-click="displayFilter()">
            {{isVisible ? 'Mostrar' : 'Ocultar'}} filtro <i class="fa"
                                                            ng-class="{'fa-caret-down' : isVisible, 'fa-caret-up' : !isVisible}"></i>
        </md-button>
        <div class="date-filter" ng-hide="isVisible" ng-class="{active: isSelectOpened}">
            <span class="label">Período</span>

            <div class="date-select-box" ng-click="showSelectBox()">
                <span class="display">{{textOption}}
                    <i class="fa" ng-class="{'fa-caret-down': !isSelectOpened, 'fa-caret-up':isSelectOpened}"></i>
                </span>
            </div>
            <div class="wrapper-select">
                <div class="select" ng-click="openedOptions()" ng-class="{opened: showOptions}">
                    <i class="fa fa-caret-down"></i>
                    <i class="fa fa-caret-up"></i>
                    <button class="option display-select">{{textOption}}</button>

                    <button class="option" ng-click="selectDate('lastWeek');" ng-hide="idSelect == 'lastWeek'"
                            id="lastWeek">
                        Ultima semana
                    </button>

                    <button class="option" ng-click="selectDate('today');" ng-hide="idSelect == 'today'" id="today">
                        Hoje
                    </button>

                    <button class="option" ng-click="selectDate('past24hrs');" ng-hide="idSelect == 'past24hrs'"
                            id="past24hrs">
                        Ultimas 24h
                    </button>

                    <button class="option" ng-click="selectDate('lastMonth');" ng-hide="idSelect == 'lastMonth'"
                            id="lastMonth">
                        Ultimo Mês
                    </button>

                    <button class="option" ng-click="selectDate('date');" ng-hide="idSelect == 'date'" id="date">
                        Período
                    </button>
                </div>
            </div>
            <div date-range min-view="date" data-ng-model="dateRange" class="calendar" start="start" end="end"
                 ng-show="showCalendar"></div>
        </div>
    </div>
</div>